server:
  port: 8081

spring:
  datasource:
    driver-class-name: org.h2.Driver
    url: jdbc:h2:file:./data/h2db;MODE=MySQL;
    username: sa
    password: 1234
  h2:
    console:
      enabled: true
      path: /h2-console

  flyway:
    enabled: true

  jpa:
    database-platform: org.hibernate.dialect.MySQL8Dialect
    open-in-view: false
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        show_sql: true
        format_sql: true
        highlight_sql: true
        use_sql_comments: true
        jdbc:
          time_zone: Asia/Seoul
        default_batch_fetch_size: 20

  security:
    oauth2:
      client:
        registration:
          keycloak:
            client-id: cse-sso-server
            client-secret: XTOfJmnaoOzilOgoVZXup5rlwKjF7fTd
            scope:
              - openid
              - profile
              - email
            authorization-grant-type: authorization_code
            redirect-uri: "{baseUrl}/login/oauth2/code/{registrationId}"
        provider:
          keycloak:
            issuer-uri: http://localhost:8080/realms/cse-sso

logging:
  level:
    kr.ac.knu.cse: DEBUG
    org:
      springframework:
        security: DEBUG
        security.oauth2: TRACE
      type:
        descriptor:
          sql:
            BasicBinder: TRACE

app:
  frontend: # Frontend URL Configuration
    base-url: http://localhost:3000

keycloak:
  base-url: http://localhost:8080
  realm: cse-sso
  post-logout-redirect-uri: http://localhost:8081
  admin:
    client-id: cse-sso-admin
    client-secret: QyVsqaoANoiiKoXuekmGIoNQwdMML6m4
sso:
  redirect-allowlist:
    - https://service-a.example.com/auth/callback
    - https://service-b.example.com/auth/callback
    - http://example.com


